/*
/* GAME STATISTICS CSS */

.gs-bloc {
  display: flex;
  gap: 40px;

  margin-bottom: 20px;
}

/* Left bloc */

.gs-left-bloc {
  width: 550px;

  border-radius: 8px;
  border: solid 4px #ff4655;
}

.gs-left-bloc img {
  height: 60px;
  width: 60px;
}

.gs-click:hover {
  height: 70px;
  width: 70px;

  cursor: pointer;
}

.gs-social-networks {
  display: flex;
  justify-content: center;

  gap: 50px;
  padding: 20px 40px 20px 40px;
}

.gs-social-networks-bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.gs-social-networks > div > p {
  font-size: 18px;
  font-weight: 600;
}

.gs-rating {
  display: flex;
  gap: 5px;
  color: #ff4655;
}

.gs-metacritic {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 40px;

  border-radius: 5px;

  cursor: pointer;
}

.gs-metacritic-green {
  background-color: #00ce7a;
}

.gs-metacritic-red {
  background-color: #ff4655;
}

/* ------------------------------------ */

/* Right bloc */

.gs-right-bloc {
  flex: 1;

  border-radius: 8px;
  border: solid 4px #ff4655;
}
