/*
/* GAME CSS */

/* Game description bloc */

.game-description-bloc {
  padding-top: 40px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  position: relative;
}

.game-red-border {
  border: solid 3px #ff4655;
  width: 200px;

  position: absolute;
  top: 204px;
  z-index: 1;
}

.game-name {
  font-size: 34px;
  font-weight: 400;
  z-index: 2;
}
