/*
/* GAME CSS */

/* Game description bloc */

.game-description-bloc {
  padding-top: 40px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  position: relative;
}

.game-red-border {
  border: solid 3px #ff4655;
  width: 200px;

  position: absolute;
  top: 68px;
  z-index: 1;
}

.game-name {
  font-size: 34px;
  font-weight: 400;
  z-index: 2;
}

/* Game statistics bloc */

.game-statistics-bloc {
  padding-top: 30px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  position: relative;
}

.game-statistics-bloc h3 {
  display: flex;
  justify-content: center;
  font-size: 28px;

  z-index: 2;
}

.game-red-border-h3 {
  border: solid 3px #ff4655;
  width: 100px;

  position: absolute;
  top: 52px;
  left: 479px;

  z-index: 1;
}
